<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Acme</a>
    <div class="collapse navbar-collapse justify-content-between" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Ball Bearings</a>
        <a class="nav-item nav-link" href="#">TNT Boxes</a>
      </div>
      <div class="navbar-nav">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">dropdown link</a>
            <a class="dropdown-item" href="#">dropdown link</a>
            <a class="dropdown-item" href="#">dropdown link</a>
          </div>
        </li>
      </div>
    </div>
  </nav>