<div class="sticky-top" style="z-index:1">




<a href="/lists"> <div class="logo" style="position:absolute; top:10px; left:10px" >
  <img class="zoom" src="/img/brain.svg" style="width:60px;"><span style="padding-left:4px; font-weight: bold;color:#f289ca">lists</span>
</div>
</a>


<a href="/lists">
  <button title="Open lists" class="btn rounded-10 zoom" style="position:absolute;right:300px;top:17px;border-color:#fb6fff;background-color:#ffe5ec;padding: 0;line-height: 1.25;width:30px"><img src="/img/list.png" style="width:20px" onmouseover="hover(this, 'listPink')" onmouseout="unhover(this, 'list')"></button>
  </a>
 

<a href="/archive">
<button title="Open archive" class="btn rounded-10 zoom" style="position:absolute;right:250px;top:17px;border-color:#b24bf3;background-color:#e6d4ff;padding: 0;line-height: 1.25;width:30px"><img src="/img/archive.png" style="width:20px" onmouseover="hover(this, 'archiveGreen')" onmouseout="unhover(this, 'archive')"></button>
</a>

<a href="/trash">
<button title="Open trash" class="btn rounded-10 zoom" style="position:absolute;right:200px;top:17px;border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: 1.25;width:30px"><img src="/img/trash.png" style="width:20px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')"></button>
</a>
<button class="btn rounded-10 pull-right name " data-bs-toggle="tooltip"   data-bs-placement="bottom"
data-bs-custom-class="small-tooltip" data-bs-title="<%= user.email %>" style="border-color:#f289ca;background-color:#ffe6ee;position:absolute; top:10px; right:50px;font-size:12px" >
  <img src="<%= user.profilePhoto %>" style="width:20px;border-radius: 50%;">
  
  <%= user.givenName %></button> 
<a title="Log out" href="/logout" class="btn rounded-10 pull-right logout"style="height:32px;position:absolute;top:10px; right:5px;border-color:#000000;background-color:#ececec;font-size:12px">â†</a>


<%- include ('../partials/message') %>

</div>



