<header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="/img/search.png" style="width:2%;">
      <h6>TV Show Search</h6>
      <ul class="navbar-nav" style="padding-right:75vw">
        <ul class="navbar-nav">
          <li class="nav-item">
            <h6><a class="nav-link" href="/">Search</a></h6>
          </li>
          <li class="nav-item">
            <h6><a class="nav-link" href="/reviews">Reviews</a></h6>
          </li>
        </ul>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</header>