<% if (locals.message) { %>
    <div class="text-center" style="padding-top:2vh;font-size:.75vw;">
        <button class="btn rounded-0" style="border-color:#f289ca;background-color:#ffe6ee;font-size:12px;color:#f289ca" disabled>
            <%= message %> 
        </button>
    </div>
<% } %>