<% if (locals.message) { %>
<div
  class="text-center"
  style="
    position: absolute;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
  "
>
  <% if(locals.error) { %>
  <button
    class="btn message"
    style="
      font-size: 12px;
      border-radius: 30px;
      background-color: #ececec;
      color: #ff0000;
      border-color: #ff0000;
    "
    disabled
  >
    <%= message %>
  </button>
  <% } else { %>
  <button
    class="btn message"
    style="
      font-size: 12px;
      border-radius: 30px;
      border-color: #f289ca;
      background-color: #ffe6ee;
      color: black;
      font-weight: bold;
    "
    disabled
  >
    <%= message %>
  </button>
  <% } %>
</div>
<% } %>

<script>
  var message = document.querySelector(".btn.message");
  if (message !== null) {
    setTimeout(function () {
      bootstrap.Alert.getOrCreateInstance(message).close();
    }, 6000);
  }
</script>
