
.modal .modal-content {
    transform: scale(0.5);
    transition: all 0.4s;
}

.modal.show .modal-content {
    opacity: 1;
    transform: scale(1);    
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 400px;  
}


.search-hover {
    /* border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s; */
    border: 1px solid #ccc;
    width: 25px;
    height: 22px;
    padding: 7px;
    transition: all 0.5s;

  }
  .search-hover:hover {
    width: 200px;
    padding-left: 5px;
    font-size:12px;
    background-image: url('../img/searchPink.png') !important;

    
  }

 

  
  input#q {
    background-image: url('../img/search.png');
    background-size:contain;
    background-repeat: no-repeat;
    text-indent: 20px;
    /* Extra Styling */
    padding: 5px 3px;
    transition:0.3s;
    border-color:#000000;background-color:#ffe6ee;
    border-radius: 10px;
}
input#q:focus {
    background-image:none !important;
    text-indent:0px;
    border-color:#000000;background-color:#ffe6ee;

    border-radius: 10px;
}


.btn.rounded-10.pull-right.logout:hover {
    color:#f289ca;
}

.zoom {
    /* padding: 50px;
    background-color: green; */
    transition: transform .2s; /* Animation */
    /* width: 200px;
    height: 200px;
    margin: 0 auto; */
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border-radius: 10px;
    
  }

  .zoomSmall {
    /* padding: 50px;
    background-color: green; */
    transition: transform .2s; /* Animation */
    /* width: 200px;
    height: 200px;
    margin: 0 auto; */
  }
  
  .zoomSmall:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /* border-radius: 10px; */
    
  }



  
  .signin:hover {
   
  font-weight:bold;
     /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



  .custom-tooltip {
    --bs-tooltip-bg: #ffe6ee;
    max-width: 125px;
    font-size:12px;
    --bs-tooltip-color: black;
  }

  .timeTooltip {
    /* --bs-tooltip-bg: #f289ca; */
    /* --bs-tooltip-color: white; */
    font-size:12px;
    font-weight:bold;

  }


  a:hover, a:focus { text-decoration: none !important;}



  /* Style rules for dark mode */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #121212;
      filter: brightness(50%);
      /* color: white; */
    }

    /* div.col.card.card-body.m-2 {
       filter: brightness(50%);
    } */
  }
  /* Style rules for light mode */
  @media (prefers-color-scheme: light) {
    body {
      background-color: white;

      /* color: black; */
    }
  }


  
  @font-face {
    font-family: baloo;
    src: url("../fonts/baloo.ttf") format("truetype");
}



  
.logo, .site-title, .site-text {
    font-family: "baloo";

}

