<%- include ('../partials/header') %>

<main>
<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal" id="forgotListPasswordModal" tabindex="-1" aria-labelledby="forgotListPasswordModal" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content  mx-auto text-center" style="max-width:210px;padding:10px">
        Code sent to email.
        <br>
        <div style="padding-top:10px">
            <form action="/changeListPassword" method="POST">
                <input class="form-control" name="code" maxlength="6" placeholder="Code..." required>
                <input class="form-control" name="codeCorrect" value=<%= resetCode %> hidden>
                <br>
                <input class="form-control" type="password" name="newPassword" placeholder="New password..." required>

                
                <div style="padding-top:20px">
                    <a href="/lists" class="btn rounded-10" style="background-color: #f2f2f2;color:gray">
                        Cancel
                    </a>

                    <button class="btn rounded-10" style="background:#e8fcec;color:#17d475;">
                        Reset
                    </button>
                </div>
            </form>
        </div>
        <div class="mx-auto" style="padding-top:10px">
            

            

          
        </div>
      </div>
    </div>
  </div>





<script>


    window.onload = function () {
        let myModal = new bootstrap.Modal(document.getElementById("forgotListPasswordModal"), {});
        myModal.show();
    };






</script>


</main>

<%- include ('../partials/footer') %>




