<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">

<main>
    
    <%- include ('../partials/message') %>

    <a href="/lists">
        <div class="logo" style="position:absolute; top:10px; left:10px">
            <img class="zoomSmall" src="/img/brain.svg" style="width:60px;">
            <span style="padding-left:4px; font-weight: bold;color:#f289ca;font-size:28px;">
                lists
            </span>
        </div>
    </a>

    

    <div class="text-center site-text" style="font-weight:bold; color:#f289ca;padding-top:100px;">
        <p>
            <span style="font-size:19px">keep track of everything.</span>
            <br>
            create simple and intuitive lists with useful features to save anything you want to remember.
        </p>

        <img src="/img/home.png" style="width:250px">

        <div style="width:100px;display: block;margin-left: auto;margin-right: auto;padding-top: 100px;">
            <a href='/auth' style="text-decoration:none;color:black;">
                <button href="/auth" class="btn rounded-10 signin" style="border-color:#f289ca;background-color:#ffe6ee;font-size:12px;font-weight: bold;">
                    <img src="/img/google.png" style="width:25px;padding-right:6px">
                    sign in
                </button>
            </a>
        </div>

        <div class="text-center" style="padding-top:20vh;">
            <button data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="custom-tooltip" data-bs-title="made by <br> <a class='text-decoration-none' href='https://theobragstad.com'>Theo Bragstad</a>" class="btn rounded-10 zoom text-center" style="border-color:#9c9cac;background-color:#dedee3;padding-top:12px;line-height: .75;">
                &#9432;
            </button>
        </div>

        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (element) {
                return new bootstrap.Tooltip(element);
            });
        });
    </script>
</main>

<%- include ('../partials/footer') %>