<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">

<main>
    
    <%- include ('../partials/message') %>

    <a href="/lists">
        <div class="logo" style="position:absolute; top:10px; left:10px">
            <img class="zoomSmall" src="/img/brain.svg" style="width:60px;">
            <span style="padding-left:4px; font-weight: bold;color:#f289ca;font-size:28px;">
                lists
            </span>
        </div>
    </a>

    

    <div class="text-center site-text" style="color:#f289ca;padding-top:100px;">
        <p>
            <span class="round" style="font-size:19px">keep track of everything.</span>
            <br><br>
            <span class="round">create simple and intuitive, yet feature-rich notes/lists to quickly save what you want to remember.</span>
        </p>

        <img src="/img/home.png" style="width:150px">

        <div style="width:100px;display: block;margin-left: auto;margin-right: auto;padding-top: 100px;">
            <a href='/auth'>
                <!-- <button href="/auth" class="round btn rounded-10 signin" style="font-size:12px;"> -->
                    <button href="/auth" class="btn pill2" style="">

                <!-- <button href="/auth" class="btn rounded-10 signin" style="border-color:#f289ca;background-color:#ffe6ee;font-size:12px;font-weight: bold;"> -->
                    <img src="/img/google.png" style="width:25px;padding-right:6px">
                    sign in
                </button>
            </a>
        </div>

        <!-- <div class="parallelogram1"></div> -->
        <!-- <div class="parallelogram2"></div> -->
        <!-- <div class="parallelogram3"></div> -->
        <div class="text-center" style="padding-top:20vh;">
            <button data-bs-toggle="tooltip" data-bs-html="true" data-bs-custom-class="custom-tooltip" data-bs-title="made by <br> <a class='text-decoration-none' href='https://theobragstad.com'>Theo Bragstad</a>" class="btn pill3">
                &#9432;
            </button>
        </div>

        <script>
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        </script>

    </div>

    <style>
        /* @media (prefers-color-scheme: dark) {
            body {
                background-color: #121212;
            }
        }

        @media (prefers-color-scheme: light) {
            body {
                background-color: white;
            }
        } */

        .parallelogram1 {
            width: 240px;
            height: 22px;
            transform: skew(-20deg);
            background: #ffe6ee;
            border-radius: 2px;
            position:absolute;
            left:600px;
            top:102px;
            z-index:-1;
        }

        .parallelogram2 {
            width: 740px;
            height: 22px;
            transform: skew(-20deg);
            background: #ffe6ee;
            border-radius: 2px;
            position:absolute;
            left:352px;
            top:130px;
            z-index:-1;
        }

        .parallelogram3 {
            width: 79px;
            height: 30px;
            transform: skew(-15deg);
            background: #ffe6ee;
            border-radius: 2px;
            position:absolute;
            left:682px;
            top:302px;
            z-index:-1;
        }

        .parallelogram4 {
            /* width: 79px;
            height: 30px; */
            transform: skew(-15deg);
            background: #ffe6ee;
            border-radius: 2px;
            /* position:absolute;
            left:682px;
            top:302px; */
            z-index:-1;
        }

        .round {
            /* width: 79px;
            height: 30px; */
            background: #ffe6ee;
            border-radius: 10px;
            /* position:absolute;
            left:682px;
            top:302px; */
            /* z-index:-1; */
            border:none;
            padding-left:5px;
            padding-right: 5px;
        }

        .pill2 {
            font-size:small;
            background-color: #ffe6ee;
            color:#f289ca;
            border-radius: 30px;
            border:none;
        }

        .pill2:hover {
            font-size:small;
            background-color: #ffe6ee;
            color:#f289ca;
            border-radius: 30px;
            border:none;
        }

        .pill3 {
            font-size:small;
            background-color: #ffe6ee;
            color:#f289ca;
            border-radius: 30px;
            border:none;
            line-height: 1;
            padding-top: 10px;
        }

        .pill3:hover {
            font-size:small;
            background-color: #ffe6ee;
            color:#f289ca;
            border-radius: 30px;
            border:none;
            line-height: 1;
            padding-top: 10px;
        }
        
    </style>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (element) {
                return new bootstrap.Tooltip(element);
            });
        });
    </script>
</main>

<%- include ('../partials/footer') %>